body {
    background-color: azure;
    text-align: center;
}



h1 {
  
    font-size: 50px;
    font-family: 'Secular One', sans-serif;
}


form {
    
    font-family: 'Secular One', sans-serif;
  
   
}

input {
    font-size: 15px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}







